@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
container {
  width: 100%;
  height: auto;
}
.header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(3, 5, 25, 0.7), rgba(3, 5, 25, 0.7)),
    url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.nav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
   padding-top: 20px; 
}
.logo img{
   width: 200px; 
   height: 50px; 
 /* max-width: 100%; */
}
.nav ul {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 8px;
}
.nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px; 
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  text-transform: uppercase;
}
.nav ul li ::after{
  content: "";
width: 0%;
height: 2px;
background: #e02b2b;
display: block;
margin: auto;
transition: 0.5s;
}

.nav ul li :hover::after {
  width: 100%;
  opacity: 0.5s;
}
.header-content {
  width: 85%;
  margin: auto;
}
.header-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header-content-1 h1 {
  color: #ffffff;
  font-size: 52px;
  margin: 30px auto;
  font-weight: 900;
}
.header-content-1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff4f4;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}
.header-content-1 a {
  color: #fff4f4;
  text-decoration: none;
  border: 1px solid wheat;
  padding: 10px 25px;
}
.header-content-1 a:hover{
  background-color: #e02b2b;
  transition: 1s;
  border: 1px solid #e02b2b;
}
.articles {
  width: 85%;
  margin: auto;
}
.articles h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 24px;
}
.box-items p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 100px;
}
.box-content {
  background-color: #fff3f3;
  padding: 30px 35px;
  border-radius: 9px;
}
.box-content h3 {
  font-size: 22px;
  margin-bottom: 22px;
  text-align: center;
}
.box-content p {
  line-height: 21px;
  font-size: 16px;
  text-align: center;
}
/* section-1 area */
.section-1 {
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
  padding-bottom: 50px;
}
.Layer{
  background: transparent;
  height: 99.5%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
   left: 0; 
   transition: 0.5s;
}
.Layer:hover{
  background:rgba(226,0,0,0.7) ;
}
.Layer h2{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
.Layer:hover h2{
  bottom: 49%;
  opacity: 1;
}
.section-1-items {
  text-align: center;
  margin-bottom: 36px;
}
.section-1-items h4 {
  font-size: 22px;
  margin-bottom: 24px;
}
.section-1-images {
   position: relative; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
   width: 100%; 
}
.section-1-images-1{
  position: relative;
  /* width: 100%; */
   text-align: center;   
overflow: hidden;
   flex-basis: 32px;
   border-radius: 10px;
}
.section-1-images-2{
  position: relative;
}
.section-1-images-3{
  position: relative;
}
.image-1 {
  border-radius: 10px;
}
/* section-2 area */
.section-2 {
  width: 85%;
  margin: auto;
  padding-bottom: 50px;
  
}
.section-2-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image-2 {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.section-2-items {
  text-align: center;
   margin-bottom: 36px; */
}
.section-2-items h5 {
  font-size: 40px;
  margin-bottom: 22px;
}
.section-2-content h6 {
  font-size: 18px;
  margin: 15px 10px;
}
.section-2-content p {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 60px;
}
/* section-3 Area */
.section-3 {
  width: 85%;
  margin: auto;
  margin-bottom: 150px;
}
.section-3-items {
  text-align: center;
  margin-bottom: 40px;
}
.section-3-items h6 {
  font-size: 26px;
  margin-bottom: 20px;
}
.section-3-items p {
  font-size: 16px;
}
.section-3-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}
.image-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content-2 {
  display: flex;
  gap: 50px;
  background-color: #fff3f3;
  padding: 10px 15px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.content-2 p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}
.content-2 h6 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 38px;
}
.star {
  margin-bottom: 30px;
}
.aside {
  min-height: 25vh;
  width: 85%;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/photo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: contain; */
  margin-bottom: 400px;
  border-radius: 10px;
}
.aside-items {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.aside-items h1 {
  font-size: 26px;
  color: #fff4f4;
  margin-bottom: 30px;
}
.aside-items a:link, .aside-items a:visited {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
}
.aside-items a:hover{
  background-color: #e02b2b;
  transition: 1s;
  border: 1px solid #e02b2b;
}
.more-info {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.icons{
  color: #fff;
}
.more-info-statement{

}
.more-info h1 {
  font-size: 25px;
  color:#fff;
  margin-bottom: 15px;
}

 .blue-shape {
     position: absolute; 
     bottom: 0; 
    left: 0; 
     z-index: -2; 
     width: 100%; 
     overflow: hidden; 
     line-height: 0; 
}
.blue-shape .shape-fill{
  fill: #032C4B;
}
.blue-shape svg{
  width: calc(131% + 1.3px);
  height: 334px;
}

.more-info p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #021f34;
}
.footer p {
  padding: 20px 150px;
  color: #fff3f3;
  margin-bottom: 10px;
  border-bottom: #000;
}
.fa-brands {
  padding: 10px 20px;
}
.footer span{
  color: #54830f;
  font-weight: 100;

}
.footer .p{
  font-size: 16px;
  font-weight: 600;
}