@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
container {
  width: 100%;
  height: auto;
}
.header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.nav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.logo {
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.nav ul li a:hover {
  text-decoration: 2px solid #e02b2b;
}
.header-content {
  width: 85%;
  margin: auto;
}
.header-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header-content-1 h1 {
  color: #ffffff;
  font-size: 52px;
  margin: 30px auto;
  font-weight: 900;
}
.header-content-1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff4f4;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}
.header-content-1 a {
  color: #fff4f4;
  text-decoration: none;
  border: 2px solid wheat;
  padding: 15px 25px;
}
.articles {
  width: 85%;
  margin: auto;
}
.articles h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 24px;
}
.box-items p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 100px;
}
.box-content {
  background-color: #fff3f3;
  padding: 30px 35px;
  border-radius: 9px;
}
.box-content h3 {
  font-size: 22px;
  margin-bottom: 22px;
  text-align: center;
}
.box-content p {
  line-height: 21px;
  font-size: 16px;
  text-align: center;
}
.section-1 {
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
  padding-bottom: 50px;
}
.section-1-items {
  text-align: center;
  margin-bottom: 36px;
}
.section-1-items h4 {
  font-size: 22px;
  margin-bottom: 24px;
}
.section-1-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image-1 {
  border-radius: 10px;
}
.section-2 {
  width: 85%;
  margin: auto;
  padding-bottom: 50px;
  
}
.section-2-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image-2 {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.section-2-items {
  text-align: center;
   margin-bottom: 36px; */
}
.section-2-items h5 {
  font-size: 40px;
  margin-bottom: 22px;
}
.section-2-content h6 {
  font-size: 18px;
  margin: 15px 10px;
}
.section-2-content p {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 60px;
}
.section-3 {
  width: 85%;
  margin: auto;
  margin-bottom: 150px;
}
.section-3-items {
  text-align: center;
  margin-bottom: 40px;
}
.section-3-items h6 {
  font-size: 26px;
  margin-bottom: 20px;
}
.section-3-items p {
  font-size: 16px;
}
.section-3-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}
.image-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content-2 {
  display: flex;
  gap: 50px;
  background-color: #fff3f3;
  padding: 10px 15px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.content-2 p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}
.content-2 h6 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 38px;
}
.star {
  margin-bottom: 30px;
}
.aside {
  min-height: 25vh;
  width: 85%;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/photo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: contain; */
  margin-bottom: 400px;
  border-radius: 10px;
}
.aside-items {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.aside-items h1 {
  font-size: 26px;
  color: #fff4f4;
  margin-bottom: 30px;
}
.aside-items a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 8px 20px;
}
.more-info {
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #000;
}
.more-info-statement{
}
.more-info h1 {
  font-size: 25px;
  color: #333030;
  margin-bottom: 15px;
}
/* .blue-shape {
  background-color: blue;
  z-index: -1px;
} */
.more-info p {
  font-size: 16px;
  color: #363131;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #021f34;
}
.footer p {
  padding: 20px 150px;
  color: #fff3f3;
  margin-bottom: 10px;
  border-bottom: #000;
}
.fa-brands {
  padding: 10px 20px;
}
